html,
body {
    background: black;
    font-size: 16px;
    font-family: "Noto Sans HK", sans-serif;
    font-optical-sizing: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-wrap {
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px 15px;

}

.menu>ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.menu>ul a {
    display: grid;
    gap: 1px;
    text-align: center;
}

.menu .en {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
}

.menu .tw {
    font-size: 1.2rem;
    font-weight: 600;
}

.menu>ul a:hover {
    color: rgb(1, 145, 32);
}

.page {
    width: 100%;
    height: 100vh;
}

#page-1 {
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#page-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.541);
}

.page-wrap {
    z-index: 2;
    position: relative;
    width: 100%;
}

.page-content {
    z-index: 2;
    position: relative;
    width: 100%;
    background: blue;
    color: white;
}