.border-wreap {
    width: 100px;
    height: 100px;
    background: #dedede;
    /* border: 1px solid #000; */
    border-style: solid;
    border-color: #dedede;
    border-top-width: 0;
    border-bottom-style: dashed;
}