#student-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#student-table th,
#student-table td {
    border: 1px solid #666;
    padding: 10px;
}

#student-table th {
    background: burlywood;
    color: black;
}

#student-table tbody tr:nth-child(odd) td {
    background: blanchedalmond;
}

#student-table tbody tr:nth-child(even) td {
    background: rgb(255, 252, 247);
}

#studnet-table tbody td:last-child {
    text-align: right;
}

#studnet-table tbody td:last-child {
    background: #000;
    color: #fff;
}

.total {
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;
}